# To Write/Read data from an AWS RDS MySQL 
# Instance into a pandas DataFrame (Python)

### pip install pandas sqlalchemy pymysql

##  Write the CSV to MySQl Server

In [6]:
import pandas as pd

iris = pd.read_csv("IRIS.csv")
print(iris.head())
iris.reset_index(level=0, inplace=True) 
print(iris.head())

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
   index  sepal_length  sepal_width  petal_length  petal_width species
0      0           5.1          3.5           1.4          0.2  setosa
1      1           4.9          3.0           1.4          0.2  setosa
2      2           4.7          3.2           1.3          0.2  setosa
3      3           4.6          3.1           1.5          0.2  setosa
4      4           5.0          3.6           1.4          0.2  setosa

In [7]:
from sqlalchemy import create_engine
# MySQL connection details
user = 'admin'
password = '' #fill the pw
endpoint = 'alexdb1.cj04qw82882s.ap-south-1.rds.amazonaws.com'  # e.g., 'mydatabase.example.com'
port = '3306'  # typically 3306
database = 'flowers'

# Create the SQLAlchemy engine
engine = create_engine(f'mysql+pymysql://{user}:{password}@{endpoint}:{port}/{database}')

# Write the DataFrame to MySQL
table_name = 'IrisFlowers'
iris.to_sql(table_name, engine, if_exists='replace', index=False)

print("DataFrame written to MySQL database successfully!")

DataFrame written to MySQL database successfully!

#  Read Table from MySQl Server

In [4]:
import pandas as pd
from sqlalchemy import create_engine
# MySQL connection details
user = 'admin'
password = '' #fill the pw
endpoint = 'alexdb1.cj04qw82882s.ap-south-1.rds.amazonaws.com'  # e.g., 'mydatabase.example.com'
port = '3306'  # typically 3306
database = 'flowers'

# Create the SQLAlchemy engine
engine = create_engine(f'mysql+pymysql://{user}:{password}@{endpoint}:{port}/{database}')

# Define the SQL query to read the data
query = "select AVG(petal_length ) from IrisFlowers"

# Read the data into a pandas DataFrame
df = pd.read_sql(query, engine)

# Print the DataFrame
print(df)

   AVG(petal_length )
0            3.758667